
h1{background-color: rgb(255, 98, 25);color:rgb(99, 23, 23)}
h2{background-color: rgb(255, 98, 25);color:rgb(99, 23, 23)}
p{background-color:rgb(255, 98, 25);font-size:20px;}
body{background-color: rgb(253, 155, 64);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
